<div class="container">
    <h1>Tâches :</h1>
    <table class="table" >
    <tr>
    <td>Titre</td><td>Description</td><td>Actions</td>
    </tr>
    <ng-container *ngIf="tasks.length >0">
        <tr *ngFor="let p of tasks;index as idx">
            <td>To Do n°{{idx+1}}</td>
            <td><a routerLink="tasks/update/{{ p.id }}"></a>{{ p.description }}</td>
            <td><button type="button" class="btn btn-sm btn-primary" (click)="open(p)">Modifier</button></td>
            <td><button class="btn btn-sm btn-danger" (click)="deleteTask(p.id)">Supprimer</button></td>
           
        </tr>
        
    </ng-container>
    <ng-container *ngIf="tasks.length == 0">
    Aucune tâche disponible
        
    </ng-container>
    </table>
    
    <ng-template #showLoading>
    Loading...
    </ng-template>
</div>








